<title>{{ page.title }} | {{ site.title }}</title>
<meta content="{{site.description}}" name="description">
<meta content="" name="keywords">

<link rel="apple-touch-icon" href="{{site.baseurl}}/assets/img/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" href="{{site.baseurl}}/assets/img/favicon/apple-icon-114x114.png">
<link rel="icon" type="image/png" s href="{{site.baseurl}}/assets/img/favicon/favicon-32x32.png">

<link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

<link href="{{site.baseurl}}/assets/vendor/aos/aos.css" rel="stylesheet">
<link href="{{site.baseurl}}/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="{{site.baseurl}}/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<link href="{{site.baseurl}}/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
<link href="{{site.baseurl}}/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
<link href="{{site.baseurl}}/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
<link href="{{site.baseurl}}/assets/css/style.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"
    integrity="sha512-E8QSvWZ0eCLGk4km3hxSsNmGWbLtSCSUcewDQPQWZF6pEU8GlT8a5fF32wOl1i8ftdMhssTrF/OhyGWwonTcXA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>