<!-- Vendor JS Files -->
<script src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script src="{{site.baseurl}}/assets/vendor/aos/aos.js"></script>
<script src="{{site.baseurl}}/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="{{site.baseurl}}/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="{{site.baseurl}}/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="{{site.baseurl}}/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="{{site.baseurl}}/assets/vendor/typed.js/typed.min.js"></script>
<script src="{{site.baseurl}}/assets/vendor/waypoints/noframework.waypoints.js"></script>

<!-- firebase google -->
<!-- <script src="{{site.baseurl}}/assets/js/firebase.js" type="module"></script> -->
<script src="{{site.baseurl}}/assets/js/google-firebase.js" type="module"></script>
<!-- Template Main JS File -->
<script src="{{site.baseurl}}/assets/js/main.js"></script>