<header id="header">
        <div class="d-flex flex-column">

                <div class="profile">
                        <h1 class="text-light pt-5"><a
                                        href="{{site.baseurl}}/cms">Admin</a><br><small><i>"Niatnya"</i></small></h1>
                        <div class="social-links mt-3 text-center">
                                <a href="https://www.facebook.com/kikukeii" class="facebook"><i
                                                class="bx bxl-facebook"></i></a>
                                <a href="https://www.linkedin.com/in/miftakhuddin-falaki" class="linkedin"><i
                                                class="bx bxl-linkedin"></i></a>
                        </div>
                </div>

                <nav id="navbar" class="nav-menu navbar">
                        <ul>
                                <li><a href="{{site.baseurl}}/cms/" class="nav-link scrollto"><i class="bx bx-home"></i>
                                                <span>Home</span></a></li>
                                <li><a href="{{site.baseurl}}/cms/pesan" class="nav-link scrollto"><i
                                                        class="bi bi-chat-left-text"></i>
                                                <span>Pesan</span></a>
                                </li>
                                <li><a href="{{site.baseurl}}/cms/logout" id="signoutlink" class="nav-link"><i
                                                        class="bi bi-box-arrow-in-left"></i>
                                                <span>logout</span></a></li>
                        </ul>
                </nav><!-- .nav-menu -->
        </div>
</header>
<script>
        console.log(`
###############################################
-   *Message 3*                               -
-                Hadeh .... -_-               -
-                                             -
###############################################
===============================================
-----------------------------------------------
   Keamanan page ini kentang banget yang paham
       Tolong jangan Ngadi ngadi jebol 
       atau otak atik Private Key-nya
       
--------------Miftakhuddin Falaki--------------
`)
</script>