<header id="header">
    <div class="d-flex flex-column">

        <div class="profile">
            <img src="{{site.baseurl}}{{site.img_av}}" alt="" class="img-fluid rounded-circle">
            <h1 class="text-light"><a href="{{site.baseurl}}/">{{site.name}}</a></h1>
            <div class="social-links mt-3 text-center">
                <a href="https://www.facebook.com/kikukeii" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="https://www.linkedin.com/in/miftakhuddin-falaki" class="linkedin"><i
                        class="bx bxl-linkedin"></i></a>
            </div>
        </div>

        <nav id="navbar" class="nav-menu navbar">
            <ul>
                <li><a href="{{site.baseurl}}/#hero" class="nav-link scrollto active"><i class="bx bx-home"></i>
                        <span>Home</span></a></li>
                <li><a href="{{site.baseurl}}/#about" class="nav-link scrollto"><i class="bx bx-user"></i>
                        <span>About</span></a>
                </li>
                <li><a href="{{site.baseurl}}/#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i>
                        <span>Resume</span></a></li>
                <li><a href="{{site.baseurl}}/#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i>
                        <span>Portfolio</span></a></li>
                <li><a href="{{site.baseurl}}/#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i>
                        <span>Contact</span></a></li>
                <li><a href="{{site.baseurl}}/download-cv" class="nav-link scrollto"><i class="bx bx-download"></i>
                        <span>Download CV</span></a></li>
            </ul>
        </nav><!-- .nav-menu -->
    </div>
</header>