<section id="resume" class="resume">
    <div class="container">

        <div class="section-title">
            <h2>Resume</h2>
        </div>

        <div class="row">
            <div class="col-lg-6" data-aos="fade-up">
                <h3 class="resume-title">Sumary</h3>
                <div class="resume-item pb-0">
                    <h4>{{site.name}} </h4>
                    <p align="justify">
                        <em>Dilahirkan di Kabupaten Tangerang tepatnya di Kampung Desa Bakung
                            Kecamatan Kronjo pada hari
                            Selasa tanggal 7 Maret 2000. Anak kedua dari tiga bersaudara. Peneliti menyelesaikan
                            pendidikan di Sekolah Dasar di SD N Pasilian II Kecamatan Kronjo Kabupaten Tangerang pada
                            tahun 2012 Pada tahun itu juga peneliti melanjutkan Pendidikan di SMP Negeri 1 Kronjo
                            Kecamatan Kronjo dan tamat pada tahun 2015 kemudian melanjutkan Sekolah Menengah Kejuruan
                            dan mengambil kejuruan Multimedia di SMK Mandiri 02 Balaraja Kecamatan Balaraja Kabupaten
                            Tangerang pada tahun 2015 dan selesai pada tahun 2018. Pada tahun 2018 peneliti melanjutkan
                            pendidikan di perguruan tinggi di Jakarta Selatan, tepatnya di Universitas Indraprasata PGRI
                            (Unindra) Fakultas Teknik dan Ilmu Komputer pada Program Studi Teknik Informatika.
                        </em>
                    </p>
                    <p align="justify">
                        <em>
                            Dalam melaksanakan kuliah saya sangat tertarik dalam percodingan hingga mempelajari lebih
                            dari satu bahasa pemrograman. Hingga kini saya setidaknya familiar dengan beberapa bahasa
                            pemrograman. Keinginan terbesar saya saat ini adalah membuat sebuah sistem yang nantinya
                            berguna untuk perkembangan teknologi.</em>
                    </p>
                    <ul>
                        <li>Kab. Tangerang</li>
                        <li><a href="https://wa.me/6283807303926" class="link-dark">(+62) 838-0730-3926</a></li>
                        <li><a href="mailto:miftakhuddinfalaki@gmail.com"
                                class="link-dark">miftakhuddinfalaki@gmail.com</a></li>
                    </ul>
                </div>


            </div>
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <h3 class="resume-title">Education</h3>
                <div class="resume-item">
                    <h4>Teknik Informatika</h4>
                    <h5>2018 - 2022</h5>
                    <p><em>UNIVERSITAS INDRAPRASTA PGRI, JAKARTA SELATAN</em></p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            Mempelajari Ilmu Komputer, Sistem Basis Data, Pemrograman, Analisis dan Provlem
                            Solving.
                        </li>
                        <li class="list-group-item">
                            Menulis atau membuat Aplikasi Desktop dan Web.
                        </li>
                        <li class="list-group-item">
                            Tugas Akhir: Perancangan Aplikasi Penjualan Pada Toko Ibu Intan Bakung
                            Menggunakan Java Netbeans.
                        </li>
                        <li class="list-group-item">
                            Mendapat Gelar Sarjana
                        </li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>Multimedia & Graphic Design</h4>
                    <h5>2015 - 2018</h5>
                    <p><em>SMK MANDIRI 02 BALARAJA, KABUPATEN TANGERANG</em></p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Mempelajari dasar-dasar
                            Video Editing, Graphic Design dan Web Developer.</li>
                        <li class="list-group-item">Membuat Short Video
                            Animasi.</li>
                        <li class="list-group-item">Mendesign Cover Dan Poster.
                        </li>
                        <li class="list-group-item">Menulis atau membuat
                            Aplikasi berbasis Web.</li>
                        <li class="list-group-item">Tugas Akhir : Membuat Iklan
                            Layanan Masyarakat "Katakan Tidak pada HOAX".</li>
                        <li class="list-group-item">Lulus dari Sekolah Menengah
                            Kejuruan</li>
                    </ul>
                </div>
                <!-- <h3 class="resume-title">Professional Experience</h3>
                <div class="resume-item">
                    <h4>jabatan</h4>
                    <h5>tahun</h5>
                    <p><em>alamat </em></p>
                    <ul>
                        <li>lorem</li>
                    </ul>
                </div> -->
            </div>
        </div>

    </div>
</section>