<section id="skills" class="skills section-bg">
    <div class="container">

        <div class="section-title">
            <h2>Skills</h2>
        </div>
        <div class="row row-cols-2 row-cols-md-6 g-4">
            <div class="col" data-aos="fade-up">
                <div class="card h-100 text-center">
                    <img src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/html/html.png"
                        class="card-img-top raw" alt="...">
                    <div class="card-body">
                        <p class="card-text">HTML</p>
                    </div>
                </div>
            </div>
            <div class="col" data-aos="fade-up">
                <div class="card h-100 text-center">
                    <img src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/css/css.png"
                        class="card-img-top raw" alt="...">
                    <div class="card-body">
                        <p class="card-text">CSS</p>
                    </div>
                </div>
            </div>
            <div class="col" data-aos="fade-up">
                <div class="card h-100 text-center">
                    <img src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/bootstrap/bootstrap.png"
                        class="card-img-top raw" alt="...">
                    <div class="card-body">
                        <p class="card-text">Bootstrap</p>
                    </div>
                </div>
            </div>
            <div class="col" data-aos="fade-up">
                <div class="card h-100 text-center">
                    <img src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/javascript/javascript.png"
                        class="card-img-top raw" alt="...">
                    <div class="card-body">
                        <p class="card-text">JavaScript</p>
                    </div>
                </div>
            </div>
            <div class="col" data-aos="fade-up">
                <div class="card h-100 text-center">
                    <img src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/nodejs/nodejs.png"
                        class="card-img-top raw" alt="...">
                    <div class="card-body">
                        <p class="card-text">Node.js</p>
                    </div>
                </div>
            </div>
            <div class="col" data-aos="fade-up">
                <div class="card h-100 text-center">
                    <img src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/react/react.png"
                        class="card-img-top raw" alt="...">
                    <div class="card-body">
                        <p class="card-text">React js</p>
                    </div>
                </div>
            </div>
            <div class="col" data-aos="fade-up">
                <div class="card h-100 text-center">
                    <img src="https://raw.githubusercontent.com/github/explore/ccc16358ac4530c6a69b1b80c7223cd2744dea83/topics/php/php.png"
                        class="card-img-top raw" alt="...">
                    <div class="card-body">
                        <p class="card-text">PHP</p>
                    </div>
                </div>
            </div>
            <div class="col" data-aos="fade-up">
                <div class="card h-100 text-center">
                    <img src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/sql/sql.png"
                        class="card-img-top raw" alt="...">
                    <div class="card-body">
                        <p class="card-text">SQL</p>
                    </div>
                </div>
            </div>
            <div class="col" data-aos="fade-up">
                <div class="card h-100 text-center">
                    <img src="{{site.baseurl}}/assets/img/ci.jpg" class="card-img-top raw" alt="...">
                    <div class="card-body">
                        <p class="card-text">Codeigneter 4</p>
                    </div>
                </div>
            </div>
            <!-- <div class="col" data-aos="fade-up">
                <div class="card h-100 text-center">
                    <img src="test" class="card-img-top raw" alt="...">
                    <div class="card-body">
                        <p class="card-text">HTML</p>
                    </div>
                </div>
            </div> -->

        </div>
        <!-- <div class="row skills-content">

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

                <div class=" progress">
                    <span class="skill">[ HTML, Markdown ] <i class="val">100%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                            aria-valuemax="100">
                        </div>
                    </div>
                </div>

                <div class="progress">
                    <span class="skill">[ Bootstrap, AOS ] <i class="val">90%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                            aria-valuemax="100">
                        </div>
                    </div>
                </div>

                <div class="progress">
                    <span class="skill">Node JS <i class="val">80%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                            aria-valuemax="100">
                        </div>
                    </div>
                </div>

                <div class="progress">
                    <span class="skill">Github <i class="val">85%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0"
                            aria-valuemax="100">
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

                <div class="progress">
                    <span class="skill">[ PHP, SQL ] <i class="val">80%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                            aria-valuemax="100">
                        </div>
                    </div>
                </div>

                <div class="progress">
                    <span class="skill"> Codeigneter 4 <i class="val">80%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                            aria-valuemax="100">
                        </div>
                    </div>
                </div>

                <div class="progress">
                    <span class="skill">React JS <i class="val">80%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                            aria-valuemax="100">
                        </div>
                    </div>
                </div>

                <div class="progress">
                    <span class="skill">photoshop <i class="val">90%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                            aria-valuemax="100">
                        </div>
                    </div>
                </div>

            </div>

        </div> -->

    </div>
</section>