<section id="testimonials" class="testimonials section-bg">
    <div class="container">

        <div class="section-title">
            <h2>Testimonials</h2>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="testimonial-item" data-aos="fade-up">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta libero natus consectetur
                            perferendis numquam sed quibusdam ipsa adipisci, repellendus corporis obcaecati laudantium
                            modi quaerat dolorum, earum minima. Obcaecati, quo magni.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                        <h3>nama</h3>
                        <h4>jabatan</h4>
                    </div>
                </div>



            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>
</section>