<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    {% include components/head.html %}
</head>

<body>
    <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

    {% include components/sidebar-cms.html %}


    <main id="main">
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <h2>{{page.title}}</h2>
                    <ol>
                        <li><a href="{{site.baseurl}}/cms">Home</a></li>
                        <li>{{page.title}}</li>
                    </ol>
                </div>

            </div>
        </section>
        <section id="portfolio-details" class="portfolio-details">
            <div class="container">
                {{ content }}
            </div>
        </section>

    </main>

    {% include components/footer.html %}
    {% include components/toast.html %}

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    {% include components/js.html %}
    <script>
        var _0x8a68 = ["\x6F\x72\x69\x67\x69\x6E", "\x6C\x6F\x63\x61\x74\x69\x6F\x6E", "\x6B\x65\x65\x70\x4C\x6F\x67\x67\x65\x64\x49\x6E", "\x67\x65\x74\x49\x74\x65\x6D", "\x79\x65\x73", "\x75\x73\x65\x72", "\x70\x61\x72\x73\x65", "\x6F\x6E\x6C\x6F\x61\x64", "\x2F\x63\x6D\x73\x2F\x6C\x6F\x67\x69\x6E"]; const base_url = window[_0x8a68[1]][_0x8a68[0]]; var currentUser = null; function getUsername() { let _0xd94bx4 = localStorage[_0x8a68[3]](_0x8a68[2]); if (_0xd94bx4 == _0x8a68[4]) { currentUser = JSON[_0x8a68[6]](localStorage[_0x8a68[3]](_0x8a68[5])) } else { currentUser = JSON[_0x8a68[6]](sessionStorage[_0x8a68[3]](_0x8a68[5])) } } window[_0x8a68[7]] = function () { getUsername(); if (currentUser === null) { window[_0x8a68[1]] = base_url + _0x8a68[8] } }
    </script>
</body>

</html>